<!DOCTYPE html>
<html>
<head id="Head2" runat="server">
  <title> GNUKhata-Add New Account </title>
  <link href="{{tg.url('/css/bootstrap.min.css')}}"rel='stylesheet' media="screen">
  <script src="{{tg.url('/javascript/jquery-2.1.4.min.js')}}"></script>
  <script src="{{tg.url('/javascript/bootstrap.min.js')}}"></script>
<style>
.modal-header ,.close 
{
      background-color:#293967;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer 
  {
      background-color: #293967;
     }

</style>


</head>

<body>

<div>
	<img src="{{tg.url('/images/finallogo1.png')}}" alt="GNUKhata" align="right" height="60" width="350" background-position:"top right;">
	
</div>
<div style="background-color:#293967; color:White; padding:20px; align:top;">
	
	<h4>Organization Name</h4>
	<h5>For Financial Year From -/-/- to -/-/- </h5>
</div>
<hr>
<div class="container">
<ul class="nav nav-tabs">
<li class="active"><a href="#newacc">Add New Account</a></li>
<li><a href="FindAndEditAccount.jinja">Find Account</a></li></ul>
<br><hr> 
<form>
<div id="newacc">
<table style="width:100%">
<tr>
<td><label id="groupname"  onChange="ob();">Group Name :</label>
<td><select>
  <option value="ps">----Please select----</option>
  
    <option value="de" id="Direct Expense">Direct Expense</option>
      </select> 
<td>
	<td><label>Total Debit Opening Balance :</label>
<td><label style="border: 1px solid 
#AFAFAB;
  background-color:white;
  color: black;
  display: block;
  float: left`
  padding: 1px;
  text-align: right;
  width: 13em;">0.00</label>
</tr>
<tr>

<td><br><br><label>Sub-Group Name :</label>
<td><br><br><select>
  <option value="ps">------Please select-------</option>
  <option value="capital">Capital</option>
  <option value="Current assets">Current Assets</option>
  <option value="Current liability">Current Liability</option>
  </select>
</tr>
<tr>
						<div class="container">
						<td>
							<td>
								<br><br> <input type="checkbox" class="btn btn-default btn-lg" id="myBtn"> Create Multiple Accounts
								 <!-- Modal -->
  								<div class="modal fade" id="myModal" role="dialog">
    								<div class="modal-dialog modal-lg">
 											 <!-- Modal content-->
     									 <div class="modal-content">
        								<div class="modal-header" style="padding:0.8px 0.8px;">
         							 		<button type="button" class="close" data-dismiss="modal">&times;</button>
         								 	<h4><b>Create Multiple Account</b></h4>
        								</div>
     									
 										<div class="modal-body" style="padding:40px 50px;">
          									<form role="form">
            								<div class="form-group" align="left" style="width:500; float:left; position:relative;">
              								<label for="Groupname"  >Group Name</label>
             								 <input type="text" class="form-control" id="usrname" placeholder="--Group Name--">
           									 </div>
           									
           									 <div class="form-group" align="right" >
              								<label for="psw" style="margin-right:58px;">Sub Group Name</label>
            								  <input type="text" class="form-control" id="psw" placeholder="--Sub Group Name--" align="right" style="margin-left:90px; width: 180px;">
           									 </div><br>
            							
             							<table border="1" align="center" style="height: 250px;width: 795px;position: solid;bottom:50%;right: 50%; border: 1px solid gray; padding: 10px;background :#ffffff;">
				
  												<tr>
    											<th height="30px;" style="text-align: center; color: white;" width=70%; bgcolor="#293967" >Account Name</th>
    											<th style="text-align: center;color:white;";   bgcolor="#293967">Opening Balance</th>
 											 </tr>
 												 <tr>
    											<td>
    											
    											</td>
    											<td>
    												
    											</td>
  												</tr>
												</table>

            							<br>
               						<div class="form-group" align="left" style="width:500; float:left; position:relative;">
              							<label for="account name"  >
              								<span class="glyphicon glyphicon-book">
              									</span> Account Name
              								</label>
             							 <input type="text" class="form-control" id="accnm" placeholder="Enter Account Name">
            								</div>
            
            							<div class="form-group" align="right" >
              							<label for="psw" style="margin-right:9px;">
              								<span class="glyphicon glyphicon-usd">
              								</span> Credit Opening Balance</label>
              							<input type="text" class="form-control" id="openinblnc" placeholder="0.00" align="right" style="margin-left:90px; width: 180px;">
            							</div>
            
          								</form>
        								</div>
        								<div class="modal-footer">
          									<button type="submit" class="btn btn-success btn-default pull-left" data-dismiss="modal">
          										<span class="glyphicon glyphicon-collapse-down">
          										</span> Save
          										</button>
          										<button type="submit" class="btn btn-success btn-default pull-right" data-dismiss="modal">
          											<span class="glyphicon glyphicon-remove">
          											</span> Cancel</button></div>
          
        											</div>
            			</div>
									</div>
						</div>
<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
</script>

  
<td>
	<td><br><br><label>Total Credit Opening Balance :</label>
<td><br><br><label style="border: 1px solid 
#AFAFAB;
  background-color:white;
  color: black;
  display: block;
  float: left;
  margin-right: 1px;
  padding: 1px;
  text-align: right;
  width: 13em;">0.00</label>
</tr>
<tr>
<td><br><br><br><label>
	<span class="glyphicon glyphicon-book">
		
	</span> Account Name:</label>
<td><br><br><br><input type="text" name="accname" onfocusin="myFunction(this)" placeholder="Enter Account Name"></tr>

<tr>
	
<td><label id="openbal"><br><br> Opening Balance: </label>
<td><br><br><input type="text" id="b" name="openingbalance" placeholder="Enter Opening Balance">

<td>
	<td><br><br><label>Difference In Opening Balance :</label>
<td><br><br><label style="border: 1px solid 
#AFAFAB;
  background-color:white;
  color: black;
  display: block;
  float: left;
  margin-right: 1px;
  padding: 1px;
  text-align: right;
  width: 13em;">0.00</label> 
  
</tr>
</table>
<div class="btn" style="text-align:center;">
<br><br>
    <td><button class="button" style="position: relative;left:150px; top: 70%; margin-left:280px;"><span class="glyphicon glyphicon-collapse-down">
          										</span> Save</button>
    <td><button class="reset" style="position: relative;left:180px; bottom: 70%;"><span class="glyphicon glyphicon-edit">
          										</span> Reset</button>

</div>

</form>
</div>









</body>
</html>
