 <!DOCTYPE html>
<html>
	<head>
	
	<link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/bootstrap.min.css')}}" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/style.css')}}" />
		<title>
		GNUKhata
		</title>
			
		<style>
			.login-box{
			background-color: rgba(220, 225,225,0.4);
			}
		</style>
	</head>
	<body>
<header class='navbar navbar-empty'>
<div class='container'>
<div>
<img  height="70" src="/images/icon.svg" width="70" class="center-block" />

</div>

</div>
<hr class="divider">
</header>

	<div class="container">
	                        {% if success == False  %}
                        <h2 align="center" color="red" >Invalid user name or password: please try again </h2> 
                        {% endif %}
	    
        <div id="loginbox" style="margin-top:10px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                            
                        <form id="loginform" action="{{tg.url('mainshell')}}" class="form-horizontal">
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username">                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                                    </div>
                                    

                            


                   				<div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                     
                                      <a id="btn-back" href="javascript:history.back()" class="btn btn-warning"><span class="glyphicon glyphicon-arrow-left"></span>Back</a>
                                      <button id="btn-login" type="submit" class="btn btn-success "><span class="glyphicon glyphicon-arrow-right"></span>Login</button>
                                      
                                    </div>
                                     
                                
                                </div>
                   				

                                   </form> 
                                    </div>
                                </div>    
                             



                        </div>                     
                    </div>  
        </div>
        
            
</body>

</html>
